{{ header }}

from __future__ import annotations

from pathlib import Path
from typing import TYPE_CHECKING

from filelock import FileLock

from qai_hub_models.utils.external_repo import (
    IS_PIP_PACKAGE,
    setup_external_repos,
)

{%- if shared_name is defined %}
MODEL_ID = "{{ shared_name }}"
{%- else %}
MODEL_ID = "{{ model_id }}"
{%- endif %}
EXTERNAL_REPO_PATHS: dict[str, Path] = {}

if not TYPE_CHECKING:
    with FileLock(Path(__file__).resolve().parent / ".setup.lock"):
{%- if shared_name is defined %}
        EXTERNAL_REPO_PATHS = setup_external_repos(MODEL_ID, shared=True)
{%- else %}
        EXTERNAL_REPO_PATHS = setup_external_repos(MODEL_ID)
{%- endif %}
    if IS_PIP_PACKAGE:
        __path__ = [str(p.parent) for p in EXTERNAL_REPO_PATHS.values()]
